 						<div class="row">	
                            <div class="span3">
                                <div class="picture">
                                 <ul class="nav nav-tabs nav-list nav-stacked">
									<li class="nav-header">Top places with Properties</li>
									<li><a href="/">Masaka</a></li>
									<li><a href="#">Kabojja</a></li>
									<li><a href="#">Mutundwe</a></li>

									<li><a href="#">Mbarara</a></li>
									<li><a href="#">Wakiso</a></li>
									<li><a href="#">Kayunga</a></li>
									<li><a href="/">Gayaza</a></li>
									<li><a href="#">Mpigi</a></li>
									<li><a href="#">Mukono</a></li>

									<li><a href="#">Matuga</a></li>
									<li><a href="#">Kalangara</a></li>
									<li><a href="#">Lira</a></li>
								 </ul>

                                </div>
                            </div>
                            
                              
                            
                            	
	                            
                        
                       
                        


